/w1/build/
/w2/nbproject/private/
/w2/build/
/w2/dist/
/w3/nbproject/private/
/w3/build/
/w3/dist/
/w4/nbproject/private/
/w4/build/
/w4/dist/
/sample/nbproject/private/
/sample/build/
/JavaApplication8/nbproject/private/
/JavaApplication8/build/
/JavaApplication8/dist/
/w5/nbproject/private/
/w5/build/
/w6/nbproject/private/
/w6/build/
/w6/dist/
/w5/dist/
/w7/nbproject/private/
/w7/build/